section#registro-form-section{
    margin: 4em 8em;
    padding-top: 3%;
    padding-bottom: 3%;
}

.zone-registro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
}

.zone1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}

.zone2{
    width: 100%;
}

.zone3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
}

.column{
    flex: 45%;
}